@font-face {
  src:
    url('/fonts/YourFont.woff2') format('woff2'),
    url('/fonts/YourFOnt.woff') format('woff'); /* IE 10+, all browsers */
  font-family: 'Your Font';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
